{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "Detaljerna för bröllopet"}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<div id="map">
    <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/baktakt.pm92i19m/attribution,zoompan,zoomwheel.html?access_token=pk.eyJ1IjoiYmFrdGFrdCIsImEiOiJjaW16OTBndTAwMGx5dnBtMW9wejRqYzhyIn0.YB0YXIjhjJefTtCfMqctXw'></iframe>
</div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Bröllop</span>
        <span class="ann-primary">17 september, 2016</span>
        <span class="ann-secondary">Örgryte Gamla Kyrka, Göteborg</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Lördag 17/9" primary=true}}
            {{addDayEvent "ceremony"
                start = "14.00"
                desc  = "Bröllopsceremoni"}}

            {{addDayEvent "ceremony"
                start = "ca 16.00"
                end   = "sent"
                desc  = "Mingel, middag & fest"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Söndag 18/9"}}
            {{addDayEvent "brunch"
                start = "12.00"
                end   = "14.00"
                desc  = "Lunch med brudparet hos brudgummens mor och far."}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="b" href="/logistics/">Boende</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="i" href="/goodtoknow/">Bra att veta</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="evening-before" class="anchored-header">
            Bröllopsceremoni
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    Bröllopsceremonin i kyrkan börjar <b>14.00</b>. Se till att vara i god tid, och undvik bilen om möjligt.
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b><a target="_blank" href="https://sv.wikipedia.org/wiki/%C3%96rgryte_gamla_kyrka">Örgryte Gamla Kyrka</a></b><br>
                    <a target="_blank" href="https://www.google.se/maps/place/%C3%96rgryte+Gamla+Kyrka/@57.6985377,11.9947153,17z/data=!3m1!4b1!4m2!3m1!1s0x464ff39c997b4f57:0xe0258389c30bc849">
                        Danska vägen<br>
                        412 66, Göteborg
                    </a>
                </address>
            </div>
        </div>

        <p>
            Ni tar er enklast till kyrkan genom att ta spårvagn 5 till Sankt Sigfrids Plan. Från hållplatsen är det sedan ca 100 m till kyrkan. Ladda gärna ned <a href="http://www.vasttrafik.se/#!/reseinformation/mobila-tjanster/" target="_blank"><b>Västtrafiks app</b></a> där ni både kan se tidtabeller och köpa biljetter.
        </p>


        <h2 id="ceremony" class="anchored-header">
            Mingel, middag & fest
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    Efter vigseln tar man sig på egen hand till festlokalen, där vi träffas för att vänta in brudparet.
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a target="_blank" href="https://www.google.se/maps/place/Kvarnbergsgatan+2,+411+05+G%C3%B6teborg/@57.7086734,11.9609582,17z/data=!3m1!4b1!4m2!3m1!1s0x464ff366d0f2b97f:0x60a5850518936cb3">
                        <b>Kvarnbergsgatan 2</b><br>
                        411 05, Göteborg
                    </a>
                </address>
            </div>
        </div>
        <p>Här är det återigen vagn 5 som gäller och denna gång från Sankt Sigfrids Plan till Lilla Bommen, en underbar resa på 10 minuter genom Göteborgs innerstad. Passa på att prata med några goa Göteborgare på vägen.</p>

        <h2 id="brunch" class="anchored-header">
            Dagen-efter-lunch
        </h2>

        <p>
            Dagen efter bröllopet kl. 12.00 hoppas vi att så många som möjligt vill mötas upp för en stärkande lunch. Lunchen intas hos brudgummens föräldrar på Jakobsdalsgatan 17.
        </p>
        <p>
          Hit går alldeles utmärkt att ta sig med spårvagn 5 mot Östra sjukhus. Gå av på hållplats S:t Sigfridsplan, alltså samma hållplats som på vigseln. Sedan är det en 5 minuters promenad upp till adressen. Använd era smarta telefoner så skall det gå galant.
        </p>
    </div>
</div>
